<div class="container">
  <div class="row mt-5">
   
    <div class="col-md-10">
     
      <h1>Send a Message</h1>
        <form>
          <fieldset>
            
            <p>
              <label>Receiver:</label>
              <input type = "text"
                     id = "myText"
                     placeholder="Insert Receiver">
            </p>

            <p>
              <label>Text Area</label>
              <textarea placeholder="Your text here"></textarea>              
            </p>

            <p>              
                <button (click)="send()">Send</button>             
            </p>
            

          </fieldset>
        </form>
       
      

    </div>


   
  </div>
</div>