<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            From
          </th>
          <th>
            Text
          </th>                  
        </tr>
       
        <tr *ngFor="let message of messages">

          <td>
           {{message.sender.username}}
          </td>
          <td>
            {{message.text}}
          </td>
          
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>