<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            User Name
          </th>
          <th>
            Sport Name
          </th>
          <th>
            Rate
          </th>
          <th>
            Edit
          </th>
          <th>
            Feedback
          </th>
        </tr>
        <tr>
          <td>
            <select [(ngModel)]="feedbacktoinsert.user">
              <option [ngValue]="user" *ngFor="let user of users">{{user.username}}</option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="feedbacktoinsert.sport">
              <option [ngValue]="sport" *ngFor="let sport of sports">{{sport.name}}</option>
            </select>
          </td>
          <td>
            <input type="number" min="0" max="5" placeholder="rate" [(ngModel)]="feedbacktoinsert.rate">
          </td>
          <td>
            <button (click)="insert(feedbacktoinsert); clear()">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let feedback of feedbacks">
          <td>
            <!--<input [(ngModel)]="feedback.user.username">-->
            {{feedback.user.username}}
          </td>
          <td>
            <!-- <input [(ngModel)]="feedback.sport.name">-->
            {{feedback.sport.name}}
          </td>
          <td>
            <input type="number" min="0" max="5" [(ngModel)]="feedback.rate">
          </td>
          <td>
            <button (click)=update(feedback)>Save</button>
          </td>
          <td>
            <button (click)="delete(feedback)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>