<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Name
          </th>
          <th>
            Players
          </th>         
        </tr>        
        <tr *ngFor="let sport of sports">
          <td>
            <input [(ngModel)]="sport.name">
          </td>
          <td>
            <input [(ngModel)]="sport.players">
          </td>          
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>