<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Name
          </th>
          <th>
            Edit
          </th>
          <th>
            Team
          </th>
        </tr>
        <tr>
          <td>
            <input placeholder="name" [(ngModel)]="teamtoinsert.name">
          </td>
          
          <td>
            <button (click)="insert(teamtoinsert); clear()">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let team of teams">
          <td>
            <input [(ngModel)]="team.name">
          </td>
          
          <td>
            <button (click)=update(team)>Save</button>
          </td>
          <td>
            <button (click)="delete(team)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>